body{

}

.editor{
    display:flex;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

.toolbar{
    width: 250px;
    background-color: white;

}

.toolbar-item{
    padding: 15px;
}

.toolbar-label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;

}

.toolbar-input{
    width: 100%;


}
.image-area{
    flex-grow: 1;
    padding: 20px;
    background: rgb(255, 255, 255)
    

}

#canvas{
    max-width: 100%;
    max-height: 100%;
}